@import "reset.scss";
.container{
    max-width: 1280px;
    margin: 0 auto;
}
.menu{
    display: flex;
    justify-content: end;
    margin-top: 40px;
    margin-bottom: 96px;
    ul{
        display: flex;
        li{
            font-family: Noto Sans;
            font-size: 18px;
            font-weight: 400;
            line-height: 24.52px;
            color: #2A2940;
            margin-right: 46px;
        }
        li:last-child{
            margin-right: 56px;
        }
    }
    button{
        font-family: Roboto;
        color: #FFFFFF;
        font-size: 18px;
        font-weight: 500;
        line-height: 24px;
        padding: 8px 20px;
        background: #FE0000;
        border-radius: 8px;
        cursor: pointer;
    }
}
.banner{
    display: flex;
    margin-bottom: 50px;    
    &__images{
        display: flex;
        position: relative;
    }
    .product1{
        img{
            border-top: 2px solid #fa930a;
            border-radius: 210px;
            padding-top: 10px; 
            margin-right: 31px;
        }
        
        
    }
    .product2{
        position: relative;
        border: 2px solid #fa930a;
        border-radius: 210px;
        width: 193px;
        height: 344px;
        padding-right: 14px;
        position: absolute;
        right: 0;
        bottom: 0;
        right: -224px;
        
        .svg-1{
            position: absolute;
            top: -165px;
            left: 50%;
            transform: translate(-50%);
        }
    }
    &__text{
        margin-left: 333px;
        position: relative;
        h1{
            font-family: "Noto Sans", sans-serif;
            font-weight: 800;
            font-size: 72px;
            line-height: 120%;
            text-transform: capitalize;
            color: #2a2940;
            max-width: 473px;
            margin-bottom: 18px;
            span{
                
                color: #ffa41c;
            }
        }
        p{
            font-family: "Poppins", sans-serif;
            font-weight: 400;
            font-size: 18px;
            line-height: 167%;
            color: #545465;
            max-width: 473px;
            margin-bottom: 30px;
        }
        a{
            font-family: "Noto Sans", sans-serif;
            font-weight: 600;
            font-size: 24px;
            line-height: 125%;
            text-transform: capitalize;
            text-decoration: underline;
            text-decoration-skip-ink: none;
            color: #fe0000;
            margin-bottom: 47px;
        }
        .text-svg-1{
            position: absolute;
            top: 45px;
            right: 0;
        }
        .text-svg-2{
            position: absolute;
            right: -130px;
            bottom: 280px;
           
        }
    }
    &__pagination{
        
        display: flex;
        left: -40px;
        position: absolute;
        bottom: -40px;
        align-items: center;
        
        
        
        ul{
            display: flex;
            align-items: center;
            margin-right: 400px;
            .active{
                .inner-circle{
                    width: 6px; /* Внутренний круг */
                    height: 6px;
                    background-color: red;
                    border-radius: 50%;
                    
                }
                .outer-circle{
                    width: 22px; /* Внешний круг */
                    height: 22px;
                    border: 1px solid red;
                    border-radius: 50%;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    
                }
            }
            li{
                .inner-circle{
                    border-radius: 100%;
                    background-color: #8d95b2;
                    width: 6px;
                    height: 6px;
                    
                }
                margin-right: 14px;
            }
            li:last-child{
                margin-right: 0;
            }
            
        
        
        }
        .arrow{
            display: flex;
            position: relative;
            right: 63px;
            .arrow-1{
                margin-right: -50px;

            }
        }
    }
}
.add{
        margin-bottom: 110px;
        display: flex;
    &__item{
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding-top: 50px;
        padding-bottom: 45px;
        padding-left: 38px;
        padding-right: 58px;
        margin-right: 40px;
        border-radius: 5px;
        width: 400px;
        height: 217px;
        background: #ffeef1;
        box-sizing: border-box;
    }

    &__item:last-child{
        margin-right: 0;
        padding-right: 44px;
    }
    &__item:nth-child(2){
        img{
            position: relative;
            bottom: -15px;
            right: -48px;
        }
        a{
            bottom: 25px;
        position: relative;
        }
    }

    &__text{
        h3{
            font-family: "Noto Sans", sans-serif;
            font-weight: 600;
            font-size: 24px;
            line-height: 125%;
            text-transform: capitalize;
            color: #2a2940;
            margin-bottom: 6px;
        }
        p{
            font-family: "Poppins", sans-serif;
            font-weight: 400;
            font-size: 16px;
            line-height: 187%;
            text-transform: lowercase;
            color: #545465;
            margin-bottom: 27px;
        }
        a{
            font-family: "Noto Sans", sans-serif;
            font-weight: 500;
            font-size: 20px;
            line-height: 150%;
            text-transform: capitalize;
            text-decoration: underline;
            text-decoration-skip-ink: none;
            color: #2a2940;
        }

    }
}
.service{
    margin-bottom: 150px;
    img{
        border-radius: 5px;
        width: 439px;
        height: 455px;
    }
    img:last-child{
        width: 398px;
        height: 546px;
    }
    display: flex;
    justify-content: space-between;
    &__info{
        display: flex;
        flex-direction: column;
        h2{
            font-family: "Noto Sans", sans-serif;
            font-weight: 600;
            font-size: 48px;
            line-height: 133%;
            text-transform: capitalize;
            color: #2a2940;
            max-width: 517px;
            margin-bottom: 20px;
            span{
                color: #ffa41c;
            }
        }
        p{
            font-family: "Poppins", sans-serif;
            font-weight: 400;
            font-size: 18px;
            line-height: 167%;
            color: #545465;
            margin-bottom: 40px;
            max-width: 473px;
        }
        button{
            font-family: "Poppins", sans-serif;
            font-weight: 600;
            font-size: 18px;
            line-height: 167%;
            text-transform: capitalize;
            color: #fff;
            padding: 13px 29px;
            padding-left: 49px;
            max-width: 180px;
            border-radius: 50px;
            background: #fe0000;
            margin-bottom: 60px;
        }
        img{
            margin: 0 auto;
            width: 330px !important; 
            height: 335px !important;
        }
    }
}
.products{
    
    &__title{
        display: flex;
            justify-content: space-between;
            align-items: center;
        h2{
            font-family: "Noto Sans", sans-serif;
            font-weight: 600;
            font-size: 48px;
            line-height: 125%;
            text-transform: capitalize;
            color: #2a2940;
        }
        ul{
            padding: 8px 25px;
            border: 1px solid #ffa41c;
            border-radius: 5px;
            align-items: center;
            display: flex;
            li{
                font-family: "Noto Sans", sans-serif;
                font-weight: 500;
                font-size: 20px;
                line-height: 120%;
                text-transform: capitalize;
                text-align: center;
                color: #545465;
                margin-right: 75px;
            }
            li:last-child{
                margin-right: 0;
            }
            .active-tab{
                border-radius: 39px;
                padding: 6px 40px;
                background: #fa930a;
                font-family: "Noto Sans", sans-serif;
                font-weight: 600;
                font-size: 24px;
                color: #fff;
            }
        }
    }
    
}






