@charset "UTF-8";
ul {
  list-style-type: none;
}

button {
  border: none;
}

a {
  text-decoration: none;
  margin: 0;
  padding: 0;
}

p {
  margin: 0;
  padding: 0;
}

.container {
  max-width: 1280px;
  margin: 0 auto;
}

body {
  background-color: #FFF8F8;
}

.menu {
  display: flex;
  justify-content: end;
  margin-top: 40px;
  margin-bottom: 96px;
}
.menu ul {
  display: flex;
}
.menu ul li {
  font-family: Noto Sans;
  font-size: 18px;
  font-weight: 400;
  line-height: 24.52px;
  color: #2A2940;
  margin-right: 46px;
}
.menu ul li:last-child {
  margin-right: 56px;
}
.menu button {
  font-family: Roboto;
  color: #FFFFFF;
  font-size: 18px;
  font-weight: 500;
  line-height: 24px;
  padding: 8px 20px;
  background: #FE0000;
  border-radius: 8px;
  cursor: pointer;
}

.banner {
  display: flex;
  margin-bottom: 50px;
}
.banner__images {
  display: flex;
  position: relative;
}
.banner .product1 img {
  border-top: 2px solid #fa930a;
  border-radius: 210px;
  padding-top: 10px;
  margin-right: 31px;
  width: 313px;
  height: 558px;
}
.banner .product2 {
  position: relative;
  border: 2px solid #fa930a;
  border-radius: 210px;
  width: 193px;
  height: 344px;
  padding-right: 14px;
  position: absolute;
  right: 0;
  bottom: 0;
  right: -224px;
}
.banner .product2 img {
  border-radius: 210px;
  width: 193px;
  height: 346px;
}
.banner .product2 .svg-1 {
  position: absolute;
  top: -165px;
  left: 50%;
  transform: translate(-50%);
}
.banner__text {
  margin-left: 333px;
  position: relative;
}
.banner__text h1 {
  font-family: "Noto Sans", sans-serif;
  font-weight: 800;
  font-size: 72px;
  line-height: 120%;
  text-transform: capitalize;
  color: #2a2940;
  max-width: 473px;
  margin-bottom: 18px;
}
.banner__text h1 span {
  color: #ffa41c;
}
.banner__text p {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 167%;
  color: #545465;
  max-width: 473px;
  margin-bottom: 30px;
}
.banner__text a {
  font-family: "Noto Sans", sans-serif;
  font-weight: 600;
  font-size: 24px;
  line-height: 125%;
  text-transform: capitalize;
  text-decoration: underline;
  -webkit-text-decoration-skip-ink: none;
          text-decoration-skip-ink: none;
  color: #fe0000;
  margin-bottom: 47px;
}
.banner__text .text-svg-1 {
  position: absolute;
  top: 45px;
  right: 0;
}
.banner__text .text-svg-2 {
  position: absolute;
  right: -130px;
  bottom: 280px;
}
.banner__pagination {
  display: flex;
  left: -40px;
  position: absolute;
  bottom: -40px;
  align-items: center;
}
.banner__pagination ul {
  display: flex;
  align-items: center;
  margin-right: 400px;
}
.banner__pagination ul .active .inner-circle {
  width: 6px; /* Внутренний круг */
  height: 6px;
  background-color: red;
  border-radius: 50%;
}
.banner__pagination ul .active .outer-circle {
  width: 22px; /* Внешний круг */
  height: 22px;
  border: 1px solid red;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.banner__pagination ul li {
  margin-right: 14px;
}
.banner__pagination ul li .inner-circle {
  border-radius: 100%;
  background-color: #8d95b2;
  width: 6px;
  height: 6px;
}
.banner__pagination ul li:last-child {
  margin-right: 0;
}
.banner__pagination .arrow {
  display: flex;
  position: relative;
  right: 63px;
}
.banner__pagination .arrow .arrow-1 {
  margin-right: -50px;
  cursor: pointer;
}
.banner__pagination .arrow .arrow-2 {
  cursor: pointer;
}

.add {
  margin-bottom: 110px;
  display: flex;
}
.add__item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-top: 50px;
  padding-bottom: 45px;
  padding-left: 38px;
  padding-right: 58px;
  margin-right: 40px;
  border-radius: 5px;
  width: 400px;
  height: 217px;
  background: #ffeef1;
  box-sizing: border-box;
}
.add__item:last-child {
  margin-right: 0;
  padding-right: 44px;
}
.add__item:nth-child(2) img {
  position: relative;
  bottom: -15px;
  right: -48px;
}
.add__item:nth-child(2) a {
  bottom: 25px;
  position: relative;
}
.add__text h3 {
  font-family: "Noto Sans", sans-serif;
  font-weight: 600;
  font-size: 24px;
  line-height: 125%;
  text-transform: capitalize;
  color: #2a2940;
  margin-bottom: 6px;
}
.add__text p {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 187%;
  text-transform: lowercase;
  color: #545465;
  margin-bottom: 27px;
}
.add__text a {
  font-family: "Noto Sans", sans-serif;
  font-weight: 500;
  font-size: 20px;
  line-height: 150%;
  text-transform: capitalize;
  text-decoration: underline;
  -webkit-text-decoration-skip-ink: none;
          text-decoration-skip-ink: none;
  color: #2a2940;
}

.service {
  margin-bottom: 150px;
  display: flex;
  justify-content: space-between;
}
.service img {
  border-radius: 5px;
  width: 439px;
  height: 455px;
}
.service img:last-child {
  width: 398px;
  height: 546px;
}
.service__info {
  display: flex;
  flex-direction: column;
}
.service__info h2 {
  font-family: "Noto Sans", sans-serif;
  font-weight: 600;
  font-size: 48px;
  line-height: 133%;
  text-transform: capitalize;
  color: #2a2940;
  max-width: 517px;
  margin-bottom: 20px;
}
.service__info h2 span {
  color: #ffa41c;
}
.service__info p {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 167%;
  color: #545465;
  margin-bottom: 40px;
  max-width: 473px;
}
.service__info button {
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-size: 18px;
  line-height: 167%;
  text-transform: capitalize;
  color: #fff;
  padding: 13px 29px;
  padding-left: 49px;
  max-width: 180px;
  border-radius: 50px;
  background: #fe0000;
  margin-bottom: 60px;
}
.service__info img {
  margin: 0 auto;
  width: 330px !important;
  height: 335px !important;
}

.products__title {
  margin-bottom: 14px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.products__title h2 {
  font-family: "Noto Sans", sans-serif;
  font-weight: 600;
  font-size: 48px;
  line-height: 125%;
  text-transform: capitalize;
  color: #2a2940;
}
.products__title ul {
  padding: 8px 25px;
  border: 1px solid #ffa41c;
  border-radius: 5px;
  align-items: center;
  display: flex;
}
.products__title ul li {
  cursor: pointer;
  font-family: "Noto Sans", sans-serif;
  font-weight: 500;
  font-size: 20px;
  line-height: 120%;
  text-transform: capitalize;
  text-align: center;
  color: #545465;
  margin-right: 75px;
}
.products__title ul li:last-child {
  margin-right: 0;
}
.products__title ul .active-tab {
  border-radius: 39px;
  padding: 6px 40px;
  background: #fa930a;
  font-family: "Noto Sans", sans-serif;
  font-weight: 600;
  font-size: 24px;
  color: #fff;
}
.products__list {
  position: relative;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.products__list__item {
  position: relative;
  margin-top: 46px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.products__list__item p {
  margin-top: 18px;
  margin-bottom: 8px;
  font-family: "Noto Sans", sans-serif;
  font-weight: 500;
  font-size: 22px;
  text-transform: capitalize;
  text-align: center;
  color: #2a2940;
}
.products__list__item img {
  width: 290px;
  height: 295px;
}
.products__list__item span {
  font-family: "Noto Sans", sans-serif;
  font-weight: 500;
  font-size: 18px;
  text-transform: capitalize;
  text-align: center;
  color: #fa930a;
}
.products__list__item::after {
  position: absolute;
  content: "";
  background-color: #fec272;
  height: 118%;
  width: 1px;
  right: -16px;
}
.products__list__item:last-child::after {
  display: none;
}
.products__list__item:nth-child(4)::after {
  display: none;
}
.products__list__item:nth-child(n+5)::after {
  height: 80%;
}
.products__list__item:last-child {
  margin-bottom: 46px;
}
.products__list::after {
  position: absolute;
  content: "";
  background-color: #fec272;
  height: 1px;
  width: 100%;
  top: 50%;
}
.products button {
  display: flex;
  justify-content: center;
  font-family: "Noto Sans", sans-serif;
  font-weight: 600;
  font-size: 18px;
  line-height: 167%;
  text-transform: capitalize;
  color: #fff;
  padding: 13px 40px;
  border-radius: 50px;
  background: #fe0000;
  margin: 0 auto;
}

.face-add {
  background-color: #fba22b;
  margin-bottom: 150px;
}

.face {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 150px;
  padding-top: 88px;
  padding-bottom: 54px;
}
.face img {
  width: 721px;
  height: 485px;
}
.face__text h2 {
  font-family: "Noto Sans", sans-serif;
  font-weight: 600;
  font-size: 48px;
  line-height: 125%;
  text-transform: capitalize;
  color: #fff;
  margin-bottom: 18px;
}
.face__text p {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 167%;
  color: rgba(255, 255, 255, 0.8);
  margin-bottom: 40px;
  max-width: 463px;
}
.face__text button {
  padding: 13px 45px;
  border-radius: 50px;
  background: #fe0000;
  font-family: "Noto Sans", sans-serif;
  font-weight: 600;
  font-size: 18px;
  line-height: 167%;
  text-transform: capitalize;
  text-align: center;
  color: #fff;
}

.review {
  margin-bottom: 150px;
  display: flex;
  justify-content: space-between;
}
.review .review-1 {
  position: relative;
}
.review .review-1 h2 {
  font-family: "Noto Sans", sans-serif;
  font-weight: 600;
  font-size: 48px;
  line-height: 125%;
  text-transform: capitalize;
  color: #2a2940;
  max-width: 519px;
  margin-bottom: 40px;
  margin-top: 0;
}
.review .review-1 h2 span {
  color: #fa930a;
}
.review .review-1 img {
  margin-bottom: 25px;
  width: 510px;
  height: 504px;
}
.review .review-1 .review-svg {
  position: absolute;
  top: 168px;
  left: 385px;
}
.review .review-1 .review-svg2 {
  position: absolute;
  top: 8px;
}
.review .review-1 .rev {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 478px;
}
.review .review-1 .rev p {
  font-family: "Noto Sans", sans-serif;
  font-weight: 700;
  font-size: 24px;
  text-transform: capitalize;
  color: #2a2940;
}
.review .review-1 .rev ul {
  display: flex;
}
.review .review-1 .rev ul li {
  margin-right: 5px;
}
.review .review-1 .rev ul li:last-child {
  margin-right: 0;
}
.review .review-1 p {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 167%;
  color: #545465;
  max-width: 478px;
  position: relative;
}
.review .svg-box {
  position: absolute;
  left: 55px;
  bottom: 15px;
}
.review .svg-box .svg {
  position: relative;
  display: flex;
}
.review .svg-box .svg .arrow-l {
  position: absolute;
  left: -95px;
}
.review .zigzag {
  position: absolute;
  bottom: -135px;
  right: 0;
}

footer {
  background-color: #0A0C14;
  padding-top: 96px;
  padding-bottom: 57px;
}
footer .footer {
  display: flex;
  flex-direction: column;
  align-items: center;
}
footer .footer h2 {
  font-family: "Noto Sans", sans-serif;
  font-weight: 600;
  font-size: 48px;
  line-height: 62%;
  text-transform: capitalize;
  text-align: center;
  color: #fff;
}
footer .footer p {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 167%;
  text-transform: capitalize;
  text-align: center;
  color: rgba(255, 255, 255, 0.8);
  margin-top: 20px;
  margin-bottom: 68px;
  max-width: 555px;
}
footer .footer input {
  font-family: "Noto Sans", sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 167%;
  text-transform: capitalize;
  text-align: center;
  color: rgba(255, 255, 255, 0.8);
  width: 481px;
  border: none;
  border-bottom: 1px solid white;
  background: #0A0C14;
  display: flex;
  text-align: start;
}
footer .footer button {
  font-family: "Noto Sans", sans-serif;
  font-weight: 600;
  font-size: 18px;
  line-height: 167%;
  text-transform: capitalize;
  text-align: center;
  color: #fff;
  padding: 4px 35px;
  border-radius: 33px;
  background: #fe0000;
  margin-top: 20px;
  margin-bottom: 60px;
}
footer .main-info {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid #fff;
  width: 101%;
  padding-bottom: 31px;
}
footer .main-info p {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 167%;
  color: rgba(255, 255, 255, 0.8);
  max-width: 255px;
}
footer .main-info ul .main-title {
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-size: 24px;
  text-transform: capitalize;
  color: #fff;
}
footer .main-info ul li {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-size: 18px;
  text-transform: capitalize;
  color: rgba(255, 255, 255, 0.8);
  margin-bottom: 15px;
}
footer .main-info ul li a {
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-size: 18px;
  text-decoration: underline;
  -webkit-text-decoration-skip-ink: none;
          text-decoration-skip-ink: none;
  color: rgba(255, 255, 255, 0.8);
}
footer .main-info ul li .tele {
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-size: 18px;
  text-decoration: none;
  color: rgba(255, 255, 255, 0.8);
}
footer .main-info ul li:last-child {
  margin-bottom: 0;
}
footer .about {
  display: flex;
  justify-content: end;
  margin-top: 27px;
}
footer .about li {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-size: 18px;
  color: rgba(255, 255, 255, 0.8);
  margin-right: 37px;
}
footer .about li:last-child {
  margin-right: 0;
}

.prev1 {
  cursor: pointer;
}

.next1 {
  cursor: pointer;
}

.zigzag {
  cursor: pointer;
}/*# sourceMappingURL=style.css.map */